.section {
    width: 100%;
    overflow: hidden;
}

.carouselWrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-top: 24px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .carouselWrapper {
        margin-top: 32px;
    }
}
